In [2]:
print('dlqkflr')

dlqkflr

In [3]:
a = 100
b = 200
result = a + b
print(result)

300

In [5]:
print(type(a))
print(type(b))
type(result)

<class 'int'>
<class 'int'>

int

In [7]:
print(isinstance(a, int))

True

In [8]:
a = 5.78
print(type(a))

<class 'float'>

In [9]:
c = 3e5
print(c)

300000.0

In [10]:
d = -4e-4
print(d)

-0.0004

In [13]:
efg = 'kfc먹고싶다'
print(efg)

kfc먹고싶다

In [6]:
# password = 1234 /  입력이 같으면 (환영합니다.) 틀리면 (비밀번호가 틀립니다.)

exm1= int(input('비밀번호를 입력하여 주십시오.'))

if exm1 == 1234 :
    print('환영합니다. 어서오십시오')
else :
    print('죄송합니다. 비밀번호가 틀립니다.')

비밀번호를 입력하여 주십시오.1234
환영합니다. 어서오십시오

In [1]:
password = 1234

ps = int(input('비밀번호를 입력해주세요:'))

if password == ps :
    print('환영합니다')
else :
    print('죄송합니다. 비밀번호가 틀립니다.')

비밀번호를 입력해주세요:1234
환영합니다

In [2]:
print('gg')

gg

In [4]:
score = int(input('점수를 입력해주세요:'))

if score >= 90 :
    print('귀하의 학점은 A입니다.')
elif score >= 80 :
    print('귀하의 학점은 B입니다.')
elif score >= 70 :
    print('귀하의 학점은 C입니다.')
else :
    print('귀하의 학점은 D입니다.')

점수를 입력해주세요:87
귀하의 학점은 B입니다.

In [6]:
names = {'Mary':12, 'Jane':25, 'Tom':20 }

name = input('이름을 입력하여 주세요:')

if name in names :
    print(names[name])
elif name not in names :
    names[name] = 0000
    print(names[name])
else :
    print('이름을 제대로 입력해주세요.')

이름을 입력하여 주세요:Bob
0

In [7]:
print(names)

{'Mary': 12, 'Jane': 25, 'Tom': 20, 'Bob': 0}

In [10]:
mine = input('가위, 바위,보 중에 하나를 선택하세요. 나:')
yours = input('가위, 바위,보 중에 하나를 선택하세요. 상대방:')

if mine == '가위' and yours == '바위' :
    print('게임에서 졌습니다.')
elif mine == '가위' and yours == '보' :
    print('게임에서 이겼습니다.')
elif mine == '바위' and yours == '보' :
    print('게임에서 졌습니다.')
elif mine == '바위' and yours == '가위' :
    print('게임에서 이겼습니다.')
elif mine == '보' and yours == '가위' :
    print('게임에서 졌습니다.')
elif mine == '보' and yours == '바위' :
    print('게임에서 이겼습니다.')
else :
    print('비겼습니다.')

가위, 바위,보 중에 하나를 선택하세요. 나:보
가위, 바위,보 중에 하나를 선택하세요. 상대방:가위
게임에서 졌습니다.

In [17]:
mine = input('가위, 바위,보 중에 하나를 선택하세요. 나:')
yours = input('가위, 바위,보 중에 하나를 선택하세요. 상대방:')

if mine == yours :
    print('비겼습니다.')
else :
    if mine == '가위' :
        if yours == '바위' :
            print('졌습니다.')
        else :
            print('이겼습니다')
    elif mine == '바위' :
        if yours == '보' :
            print('졌습니다.')
        else :
            print('이겼습니다')
    elif mine == '보' :
        if yours == '가위' :
            print('졌습니다.')
        else :
            print('이겼습니다')

가위, 바위,보 중에 하나를 선택하세요. 나:가위
가위, 바위,보 중에 하나를 선택하세요. 상대방:가위
비겼습니다.

# for / while sample

In [26]:
#1- 10까지 합계
sumsample = 0
for i in range(11) :
    sumsample += i
print(sumsample)

55

In [27]:
sumsample = 0
i= 0

while i <= 10 :
    sumsample += i
    i += 1
print(sumsample)

55

In [30]:
# 'computational thinking' 에서 모음만 출력

for i in 'conputational thinking' :
    if i not in 'aieou':
        print(i)


exple = [(x) for x in 'conputational thinking' if i not in 'aeiou']
print(exple)

c
n
p
t
t
n
l

t
h
n
k
n
g
['c', 'o', 'n', 'p', 'u', 't', 'a', 't', 'i', 'o', 'n', 'a', 'l', ' ', 't', 'h', 'i', 'n', 'k', 'i', 'n', 'g']

In [31]:
count = 0
letters = []
text = 'computational thinking'

for letter in text :
    if letter in 'aeiou' :
        count += 1
        letters.append(letter)
print(count)
print(letters)

8
['o', 'u', 'a', 'i', 'o', 'a', 'i', 'i']

In [32]:
x = [0,1,2,3,4]
y = [5,6,7,8,9,10]

z = [(a,b) for a in x for b in y ]
print(z)

[(0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10)]

In [37]:
x = [0,1,2,3,4]
y = [5,6,7,8,9,10]

z = []

for a in x :
    for b in y :
        z.append((a,b))
print(z)

[(0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10)]

In [39]:
X = [x for x in range(10) if x%2 == 0]
print(X)

[0, 2, 4, 6, 8]

In [47]:
Phrase = 'Life is hard but you can learn about how to do in your life'

X = [ (word. upper(), word.lower(), len(word)) for word in Phrase.split() ]
print(X)

[('LIFE', 'life', 4), ('IS', 'is', 2), ('HARD', 'hard', 4), ('BUT', 'but', 3), ('YOU', 'you', 3), ('CAN', 'can', 3), ('LEARN', 'learn', 5), ('ABOUT', 'about', 5), ('HOW', 'how', 3), ('TO', 'to', 2), ('DO', 'do', 2), ('IN', 'in', 2), ('YOUR', 'your', 4), ('LIFE', 'life', 4)]

In [50]:
for i in range(1,11) :
    if i < 5 :
        continue
    if i > 6 :
        break
    print(i)

5
6

In [53]:
list = []
for i in range(1,11) :
    if i < 5 :
        continue
    if i > 6 :
        break
    list.append(i)
print(list)

[5, 6]

In [54]:
#5과목의 점수의 평균을 계산

a = int(input('국어 점수를 입력하세요:'))
b = int(input('영어 점수를 입력하세요:'))
c = int(input('수학 점수를 입력하세요:'))
d = int(input('사회 점수를 입력하세요:'))
e = int(input('과학 점수를 입력하세요:'))

average = (a+b+c+d+e) / 5


print('당신의 평균점수는',average,'입니다.' )

국어 점수를 입력하세요:50
영어 점수를 입력하세요:49
수학 점수를 입력하세요:86
사회 점수를 입력하세요:98
과학 점수를 입력하세요:42
당신의 평균점수는 65.0 입니다.

In [59]:
total = 0
count = 1

while count <= 5 :
    score = int(input('점수를 입력하세요.'))
    total += score
    count += 1
    
print(count)
    
avrg = total/(count-1)
print(avrg)

점수를 입력하세요.4
점수를 입력하세요.4
점수를 입력하세요.4
점수를 입력하세요.4
점수를 입력하세요.4
6
4.0

In [63]:
#팩토리얼 (while)

num = int(input('팩토리얼을 알고 싶은 숫자를 적으시오.:'))
i = 1
factor = 1

while i <= num :
    factor *= i
    i += 1
print(factor)

팩토리얼을 알고 싶은 숫자를 적으시오.:5
120

In [68]:
#팩토리얼 (for)

num = int(input('팩토리얼을 알고 싶은 숫자를 적으시오.:'))
factor = 1
    
for i in range(1,num+1) :
    factor *= i

print(str(num),"! =",factor)

팩토리얼을 알고 싶은 숫자를 적으시오.:4
4 ! = 24

In [72]:
scope = [1,2,3,4,5]

for i in scope:
    if i % 2 == 0:
        continue
    print(i)

1
3
5

In [78]:
n = int(input('--->'))
oddSum = 0
evenSum = 0

for i in range(n+1):
    if i % 2 == 0:
        evenSum += i
    else :
        oddSum += i
        
print("짝수의 합은 {} 홀수의 합은 {} 입니다.".format(evenSum, oddSum))

--->10
짝수의 합은 30 홀수의 합은 25 입니다.

In [80]:
L = [ 70, 100, 80, 60, 90]
nMin = nMax = L[0]
    
for i in L :
    if i > nMax:
        nMax = i
    elif i < nMin :
        nMin = i
        
print("L의 최대값은 {}, 최소값은 {} 입니다.".format(nMax, nMin))

L의 최대값은 100, 최소값은 60 입니다.

In [92]:
for i in range(1,10):
    print()
    for j in range(1,10):
        print('{}X{}={:>3}'.format(j,i,i*j), end = ' ' )

1X1=  1 2X1=  2 3X1=  3 4X1=  4 5X1=  5 6X1=  6 7X1=  7 8X1=  8 9X1=  9
1X2=  2 2X2=  4 3X2=  6 4X2=  8 5X2= 10 6X2= 12 7X2= 14 8X2= 16 9X2= 18
1X3=  3 2X3=  6 3X3=  9 4X3= 12 5X3= 15 6X3= 18 7X3= 21 8X3= 24 9X3= 27
1X4=  4 2X4=  8 3X4= 12 4X4= 16 5X4= 20 6X4= 24 7X4= 28 8X4= 32 9X4= 36
1X5=  5 2X5= 10 3X5= 15 4X5= 20 5X5= 25 6X5= 30 7X5= 35 8X5= 40 9X5= 45
1X6=  6 2X6= 12 3X6= 18 4X6= 24 5X6= 30 6X6= 36 7X6= 42 8X6= 48 9X6= 54
1X7=  7 2X7= 14 3X7= 21 4X7= 28 5X7= 35 6X7= 42 7X7= 49 8X7= 56 9X7= 63
1X8=  8 2X8= 16 3X8= 24 4X8= 32 5X8= 40 6X8= 48 7X8= 56 8X8= 64 9X8= 72
1X9=  9 2X9= 18 3X9= 27 4X9= 36 5X9= 45 6X9= 54 7X9= 63 8X9= 72 9X9= 81

In [1]:
n = int(input('양의 정수를 입력하시오.'))

config = []
for i in range(1,n+1):
    if n%i == 0:
        config.append(i)
    
if len(config) == 2 :
    print(str(n),'은 소수 입니다.')
else :
    print(str(n),'은 소수가 아닙니다.')

양의 정수를 입력하시오.321
321 은 소수가 아닙니다.

In [2]:
for i in range(10):
    print('★'*i)

★
★★
★★★
★★★★
★★★★★
★★★★★★
★★★★★★★
★★★★★★★★
★★★★★★★★★

In [7]:
for i in range(10):
    print('☆'* (10-i))

☆☆☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆
☆☆☆☆☆☆
☆☆☆☆☆
☆☆☆☆
☆☆☆
☆☆
☆

In [14]:
for i in range(10):
    print(' '*(10-i),'☆'*i,' '*(10-i))
for i in range(10):
    print(' '*(i),'☆'*(10-i),' '*(i))

          ☆
         ☆☆
        ☆☆☆
       ☆☆☆☆
      ☆☆☆☆☆
     ☆☆☆☆☆☆
    ☆☆☆☆☆☆☆
   ☆☆☆☆☆☆☆☆
  ☆☆☆☆☆☆☆☆☆
 ☆☆☆☆☆☆☆☆☆☆
  ☆☆☆☆☆☆☆☆☆
   ☆☆☆☆☆☆☆☆
    ☆☆☆☆☆☆☆
     ☆☆☆☆☆☆
      ☆☆☆☆☆
       ☆☆☆☆
        ☆☆☆
         ☆☆
          ☆

In [19]:
for i in range(1,10,2):
    print('{:^10}'.format('*'*i))

    *
   ***
  *****
 *******
*********

In [29]:
for i in range(1,20,2):
    print('{:^20}'.format('*'*i))
for i in range(1,20,2):
    print('{:^20}'.format('*'*(18-i)))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [43]:
Text1 = ' python programming '

#1. 'g' 출fur
print(Text1[11])
# 'pro' 출력
print(Text1[8:11])
print('gram' in Text1)
print(Text1.upper())
print(Text1.split())
Text2 = Text1.split()
print('-'.join(Text2))
print(Text1.strip())
print(Text1)
print(Text1.replace('python','hello'))

g
pro
True
 PYTHON PROGRAMMING
['python', 'programming']
python-programming
python programming
 python programming
 hello programming

In [89]:
solarsys = ['태양','수성','금성','지구','화성','목성','지구']
solarsys1 = ['토성','천왕성','해왕성']
planet = '지구'

print('1.',solarsys[1:4])
print('2.',solarsys.index('지구'),solarsys.index('지구',4))
solarsys[4] = '해왕성'
print('3', solarsys)
solarsys.insert(1,'명왕성')
print('4', solarsys)
solarsys.append('토성')
print('5', solarsys)
solarsys.pop()
print('6', solarsys)
del solarsys[3]
print('7', solarsys)
del solarsys[0:3]
print('8', solarsys)
del solarsys[2]
print('9', solarsys)
solarsys = solarsys + solarsys1
print('10', solarsys)
print('11',sorted(solarsys))
print('12',sorted(solarsys, reverse=True))
solarsys.reverse()
print('13',solarsys)
print('14','만리장성' in solarsys)
print('15',solarsys *3)
print('16',len(solarsys))
print('17',solarsys.count('지구'))
solarsys.clear()
print('18', solarsys)
del solarsys
print(solarsys)

1. ['수성', '금성', '지구']
2. 3 6
3 ['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']
4 ['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']
5 ['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']
6 ['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']
7 ['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']
8 ['지구', '해왕성', '목성', '지구']
9 ['지구', '해왕성', '지구']
10 ['지구', '해왕성', '지구', '토성', '천왕성', '해왕성']
11 ['지구', '지구', '천왕성', '토성', '해왕성', '해왕성']
12 ['해왕성', '해왕성', '토성', '천왕성', '지구', '지구']
13 ['해왕성', '천왕성', '토성', '지구', '해왕성', '지구']
14 False
15 ['해왕성', '천왕성', '토성', '지구', '해왕성', '지구', '해왕성', '천왕성', '토성', '지구', '해왕성', '지구', '해왕성', '천왕성', '토성', '지구', '해왕성', '지구']
16 6
17 2
18 []

NameError: name 'solarsys' is not defined

In [93]:
Text1 = " Hello World "

print('1', Text1)

Text2 = Text1.split()
print('2', Text2)
print('3', '-'.join(Text2))
print('4', Text1.strip())
print('5', Text1.replace('Hello','Python'))

1  Hello World
2 ['Hello', 'World']
3 Hello-World
4 Hello World
5  Python World

In [115]:
L = [4,8,6,2,5,9,6,2]

print(L.index(2) , L.index(2,4))
L[5]= 7
print(L)
L.append(10)
print(L)
L.pop()
print(L)
L.remove(8)
print(L)
del L[2]
print(L)

3 7
[4, 8, 6, 2, 5, 7, 6, 2]
[4, 8, 6, 2, 5, 7, 6, 2, 10]
[4, 8, 6, 2, 5, 7, 6, 2]
[4, 6, 2, 5, 7, 6, 2]
[4, 6, 5, 7, 6, 2]