## Function_Sample_Code

In [4]:
# 절대값을 리턴하는 함수

    
abs(-5)

5

In [2]:
# 반지름을 받아서 원의 면적을 리턴하는 함수

area(2)

12.56

In [3]:
# 이름, 주소, 이메일을 받고 명함을 출력하는 함수



print_business_card('성호', 'aaa@aa.com', '서울')

-------------------------
Name: 성호
E-mail: aaa@aa.com
Office Address: 서울
-------------------------

In [6]:
# 일반매개변수('sum', 'mul')와 가변매개변수를 받고, 'sum'이면 가변매개변수의 합, 'mul'이면 가변매개변수의 곱을 리턴



sum_mul('sum', 5,6)

11

In [1]:

 
ans = add_number(10, 15)
print(ans)                   # 25가 출력됨
text1 = '대한민국~'
text2 ='만세!!'
add_txt(text1, text2)         # ‘대한민국~만세!!’가 출력됨

25
대한민국~만세!!

In [1]:

add_txt('베스트')                   # ‘베스트 : 파이썬’이 출력됨
add_txt(t2='대한민국', t1='1등')    # ‘1등 : 대한민국’이 출력됨

func1()                          # 빈 튜플 ( ) 이 출력됨
func1(3, 5, 1, 5)                  # (3, 5, 1, 5)가 출력됨
func2(10, 20)                          # 빈 사전 { }이 출력됨
func2(10, 20, depth=50, color='blue')  #{‘depth’:50, ‘color’:’blue’} 이 출력됨

베스트 : 파이썬
1등 : 대한민국
()
(3, 5, 1, 5)
{}
{'depth': 50, 'color': 'blue'}

In [1]:
# 기본값이 있는 함수

report('good morning')
report('good morning', 'Mr. Park')


report('안녕하세요')
report('안녕하세요', '김선생님')

good morning Everyone
good morning Mr. Park
안녕하세요 Everyone
안녕하세요 김선생님

In [18]:
# 가변매개변수로 값를 받아서 짝수만 출력하는 함수

print(select_even(1,2,3,4))
print(select_even(-12, 2, 81, 99, 48, 20))

[2, 4]
[-12, 2, 48, 20]

In [24]:
# 가변 매개변수를 받고 최대값과 최소값을 출력하는 함수

minmax(2,4,3,6,4,3,6,8,10)

# 최대값과 최소값을 출력하는

Max : 10, Min : 2

In [2]:
# 가변 매개변수와 kw매개변수를 받은 후 가변매개변수의 합과 kw매개변수의 합을 출력하는 함수
    

    
varSum(2,3,6,4,3,a=10, b=20, c=30)

args_sum =  18
kwvalues_sum= 60

In [3]:
# kw 매개변수를 받은 후 kw 값 올림차순으로 정렬해서 리턴하는 함수
        
foo3(a=3, b=2, c=4)

[('b', 2), ('a', 3), ('c', 4)]