In [2]:
import pandas as pd
import numpy as np 
import datetime

%matplotlib inline

In [3]:
date = datetime.date(year=2013, month=6, day = 7)
time = datetime.time(hour=12, minute=30, second=19,
                     microsecond=463198)
dt = datetime.datetime(year=2013, month=6, day=7, hour=12,
                       minute=30, second=19, microsecond=463198)

print("date is ", date) 
print("time is", time) 
print("datetime is", dt)

date is  2013-06-07
time is 12:30:19.463198
datetime is 2013-06-07 12:30:19.463198

In [4]:
td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20,
                        seconds=6.73, milliseconds=99,
                        microseconds=8) 

print(td)

19 days, 10:20:06.829008

In [5]:
print('new date is', date + td) 
print('new datetime is', dt + td)

new date is 2013-06-26
new datetime is 2013-06-26 22:50:26.292206

In [10]:
time + td

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [11]:
pd.Timestamp(year=2012, month=12, day=21, hour=5, minute=10,
             second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')

In [12]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [13]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [14]:
 pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [15]:
pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

In [16]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [17]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')

In [18]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [20]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [21]:
pd.to_datetime(100, unit='D', origin ='2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [22]:
s = pd.Series([10, 100, 1000, 10000]) 
pd.to_datetime(s, unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [23]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017']) 
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [24]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017']) 
pd.to_datetime(s, dayfirst=True, errors='raise')

DateParseError: Invalid date specified (40/23)

In [25]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017']) 
pd.to_datetime(s, dayfirst=True, errors='ignore')

0     12-5-2015
1     14-1-2013
2    20/12/2017
3    40/23/2017
dtype: object

In [26]:
pd.to_datetime(['Aug 3 1999 3:45:56', '10/31/2017'])

DatetimeIndex(['1999-08-03 03:45:56', '2017-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
pd.Timedelta('12 days 5 hours 3 minutes 123456789 nanoseconds')

Timedelta('12 days 05:03:00.123456')

In [28]:
pd.Timedelta(days=5, minutes=7.34)

Timedelta('5 days 00:07:20.400000')

In [29]:
pd.Timedelta(100, unit='W')

Timedelta('700 days 00:00:00')

In [30]:
pd.to_timedelta('5 dayz', errors='ignore')

'5 dayz'

In [31]:
pd.to_timedelta('67:15:45.454')

Timedelta('2 days 19:15:45.454000')

In [32]:
s = pd.Series([10, 100]) 
pd.to_timedelta(s, unit='s')

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [33]:
time_strings = ['2 days 24 minutes 89.67 seconds', '00:45:23.6'] 
pd.to_timedelta(time_strings)

TimedeltaIndex(['2 days 00:25:29.670000', '0 days 00:45:23.600000'], dtype='timedelta64[ns]', freq=None)

In [34]:
 # Timedelta
pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timedelta('24 days 10:06:00')

In [35]:
pd.Timestamp('1/1/2017') + pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timestamp('2017-01-25 10:06:00')

In [36]:
td1 = pd.to_timedelta([10, 100], unit='s') 
td2 = pd.to_timedelta(['3 hours', '4 hours']) 
td1 + td2

TimedeltaIndex(['03:00:10', '04:01:40'], dtype='timedelta64[ns]', freq=None)

In [37]:
pd.Timedelta('12 days') / pd.Timedelta('3 days')

4.0

In [38]:
ts = pd.Timestamp('2016-10-1 4:23:23.9')

In [39]:
ts.ceil('h')

Timestamp('2016-10-01 05:00:00')

In [40]:
ts.floor('h')

Timestamp('2016-10-01 04:00:00')

In [41]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017']) 
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [42]:
ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.second

(2016, 10, 1, 4, 23, 23)

In [43]:
ts

Timestamp('2016-10-01 04:23:23.900000')

In [44]:
ts.dayofweek, ts.dayofyear, ts.daysinmonth

(5, 275, 31)

In [45]:
pyts = ts.to_pydatetime()

In [46]:
pyts

datetime.datetime(2016, 10, 1, 4, 23, 23, 900000)

In [47]:
td = pd.Timedelta(125.8723, unit='h') 
td

Timedelta('5 days 05:52:20.280000')

In [48]:
td.round('min')

Timedelta('5 days 05:52:00')

In [49]:
td.components

Components(days=5, hours=5, minutes=52, seconds=20, milliseconds=280, microseconds=0, nanoseconds=0)

In [50]:
td.total_seconds()

453140.28

# more

In [51]:
date_string_list = ['Sep 30 1984'] * 10000

In [52]:
%timeit pd.to_datetime(date_string_list, format='%b %d %Y')

3.5 ms ± 261 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [53]:
%timeit pd.to_datetime(date_string_list)

3.47 ms ± 84.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 1 Slicing time series intelligently

In [54]:
crime = pd.read_hdf('crime.h5', 'crime') 
crime.dtypes

OFFENSE_TYPE_ID              category
OFFENSE_CATEGORY_ID          category
REPORTED_DATE          datetime64[ns]
GEO_LON                       float64
GEO_LAT                       float64
NEIGHBORHOOD_ID              category
IS_CRIME                        int64
IS_TRAFFIC                      int64
dtype: object

In [55]:
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0

In [56]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460911 entries, 0 to 460910
Data columns (total 8 columns):
OFFENSE_TYPE_ID        460911 non-null category
OFFENSE_CATEGORY_ID    460911 non-null category
REPORTED_DATE          460911 non-null datetime64[ns]
GEO_LON                457296 non-null float64
GEO_LAT                457296 non-null float64
NEIGHBORHOOD_ID        460911 non-null category
IS_CRIME               460911 non-null int64
IS_TRAFFIC             460911 non-null int64
dtypes: category(3), datetime64[ns](1), float64(2), int64(2)
memory usage: 22.9 MB

In [57]:
crime = crime.set_index('REPORTED_DATE') 
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

In [58]:
pd.options.display.max_rows = 4

In [59]:
crime.loc['2016-05-12 16:45:00']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-12 16:45:00,traffic-accident,traffic-accident,-104.847024,39.779596,montbello,0,1
2016-05-12 16:45:00,traffic-accident,traffic-accident,-105.049180,39.769296,west-highland,0,1
2016-05-12 16:45:00,fraud-identity-theft,white-collar-crime,-104.931971,39.717359,hilltop,1,0

In [60]:
crime.loc['2016-05-12']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-12 23:51:00,criminal-mischief-other,public-disorder,-105.017241,39.705845,athmar-park,1,0
2016-05-12 18:40:00,liquor-possession,drug-alcohol,-104.995692,39.747875,cbd,1,0
...,...,...,...,...,...,...,...
2016-05-12 15:59:00,menacing-felony-w-weap,aggravated-assault,-104.935172,39.723703,hilltop,1,0
2016-05-12 16:39:00,assault-dv,other-crimes-against-persons,-104.974700,39.740555,north-capitol-hill,1,0

In [61]:
crime.loc['2016-05-12'].shape

(243, 7)

In [62]:
crime.loc['2016-05'].shape

(8012, 7)

In [63]:
crime.loc['2016'].shape

(91076, 7)

In [64]:
crime.loc['2016-05-12 03']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-12 03:11:00,theft-shoplift,larceny,-105.020586,39.678224,college-view-south-platte,1,0
2016-05-12 03:43:00,traf-other,all-other-crimes,-104.892862,39.740153,east-colfax,1,0
2016-05-12 03:18:00,criminal-trespassing,all-other-crimes,-104.990480,39.728076,lincoln-park,1,0
2016-05-12 03:13:00,assault-simple,other-crimes-against-persons,-104.977202,39.739745,capitol-hill,1,0

In [65]:
crime.loc['2016-05-12 03'].shape

(4, 7)

In [66]:
crime.loc['Dec 2015'].sort_index()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-12-01 00:48:00,drug-cocaine-possess,drug-alcohol,-104.891681,39.740155,east-colfax,1,0
2015-12-01 00:48:00,theft-of-motor-vehicle,auto-theft,-104.891681,39.740155,east-colfax,1,0
...,...,...,...,...,...,...,...
2015-12-31 23:45:00,violation-of-restraining-order,all-other-crimes,-105.034887,39.741827,west-colfax,1,0
2015-12-31 23:50:00,weapon-poss-illegal-dangerous,all-other-crimes,-105.032769,39.709188,westwood,1,0

In [67]:
crime.loc['2016 Sep, 15'].shape

(252, 7)

In [68]:
crime.loc['2016 Sep, 15']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-09-15 22:40:00,liquor-possession,drug-alcohol,-105.000542,39.739501,lincoln-park,1,0
2016-09-15 21:25:00,assault-dv,other-crimes-against-persons,-105.016259,39.757616,highland,1,0
...,...,...,...,...,...,...,...
2016-09-15 10:34:00,threats-to-injure,public-disorder,-104.988854,39.723849,baker,1,0
2016-09-15 11:53:00,assault-dv,other-crimes-against-persons,-105.018437,39.676584,college-view-south-platte,1,0

In [70]:
crime.loc['21st October 2014 05']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-10-21 05:19:00,traf-other,all-other-crimes,-105.006459,39.769287,highland,1,0
2014-10-21 05:11:00,criminal-trespassing,all-other-crimes,-104.962105,39.676030,university,1,0
2014-10-21 05:47:00,harassment-dv,public-disorder,-104.765032,39.801407,dia,1,0
2014-10-21 05:00:00,criminal-mischief-mtr-veh,public-disorder,-105.020969,39.756938,jefferson-park,1,0

In [71]:
crime.loc['21st October 2014 05'].shape

(4, 7)

In [72]:
crime.loc['2015-3-4':'2016-1-1'].sort_index()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-03-04 00:11:00,assault-dv,other-crimes-against-persons,-105.021966,39.770883,sunnyside,1,0
2015-03-04 00:19:00,assault-dv,other-crimes-against-persons,-104.978988,39.748799,five-points,1,0
...,...,...,...,...,...,...,...
2016-01-01 23:45:00,drug-cocaine-possess,drug-alcohol,-104.987310,39.753598,five-points,1,0
2016-01-01 23:48:00,drug-poss-paraphernalia,drug-alcohol,-104.986020,39.752541,five-points,1,0

In [73]:
crime.loc['2015-3-4 22':'2016-1-1 23:45:00'].sort_index()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-03-04 22:25:00,traffic-accident-hit-and-run,traffic-accident,-104.973896,39.769064,five-points,0,1
2015-03-04 22:30:00,traffic-accident,traffic-accident,-104.906412,39.632816,hampden-south,0,1
...,...,...,...,...,...,...,...
2016-01-01 23:40:00,robbery-business,robbery,-105.039236,39.726157,villa-park,1,0
2016-01-01 23:45:00,drug-cocaine-possess,drug-alcohol,-104.987310,39.753598,five-points,1,0

In [74]:
crime.loc['2015-3-4':'2015-3-5']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-03-04 12:18:00,weapon-carrying-prohibited,all-other-crimes,-104.984492,39.730045,capitol-hill,1,0
2015-03-04 08:50:00,traffic-accident,traffic-accident,-104.872108,39.786719,stapleton,0,1
...,...,...,...,...,...,...,...
2015-03-04 15:57:00,disturbing-the-peace,public-disorder,-105.027747,39.700029,westwood,1,0
2015-03-04 08:27:00,theft-items-from-vehicle,theft-from-motor-vehicle,-104.875260,39.704561,windsor,1,0

## 1.1 How it works...

In [75]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 460911 entries, 2014-06-29 02:01:00 to 2017-09-12 09:30:00
Data columns (total 7 columns):
OFFENSE_TYPE_ID        460911 non-null category
OFFENSE_CATEGORY_ID    460911 non-null category
GEO_LON                457296 non-null float64
GEO_LAT                457296 non-null float64
NEIGHBORHOOD_ID        460911 non-null category
IS_CRIME               460911 non-null int64
IS_TRAFFIC             460911 non-null int64
dtypes: category(3), float64(2), int64(2)
memory usage: 29.4 MB

In [76]:
crime.memory_usage()

Index              14173048
OFFENSE_TYPE_ID      928510
                     ...
IS_CRIME            3687288
IS_TRAFFIC          3687288
Length: 8, dtype: int64

In [78]:
mem_cat=crime.memory_usage().sum() 
mem_cat

30776476

In [80]:
crime_obj = crime.astype({'OFFENSE_TYPE_ID':'object', 
                          'OFFENSE_CATEGORY_ID':'object', 
                          'NEIGHBORHOOD_ID':'object'})

crime_obj.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 460911 entries, 2014-06-29 02:01:00 to 2017-09-12 09:30:00
Data columns (total 7 columns):
OFFENSE_TYPE_ID        460911 non-null object
OFFENSE_CATEGORY_ID    460911 non-null object
GEO_LON                457296 non-null float64
GEO_LAT                457296 non-null float64
NEIGHBORHOOD_ID        460911 non-null object
IS_CRIME               460911 non-null int64
IS_TRAFFIC             460911 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 38.1+ MB

In [81]:
mem_obj = crime_obj.memory_usage().sum() 
mem_obj

39984064

In [82]:
mb = 2 ** 20 
round(mem_cat / mb, 1), round(mem_obj / mb, 1)

(29.4, 38.1)

In [83]:
crime.index[:2]

DatetimeIndex(['2014-06-29 02:01:00', '2014-06-29 01:54:00'], dtype='datetime64[ns]', name='REPORTED_DATE', freq=None)

In [84]:
crime.index[-2:]

DatetimeIndex(['2017-09-12 13:04:00', '2017-09-12 09:30:00'], dtype='datetime64[ns]', name='REPORTED_DATE', freq=None)

In [85]:
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
...,...,...,...,...,...,...,...
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

## 1.2 There’s more...

In [86]:
%timeit crime.loc['2015-3-4':'2016-1-1']

9.79 ms ± 431 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [87]:
crime_sort = crime.sort_index()

In [88]:
 %timeit crime_sort.loc['2015-3-4':'2016-1-1']

996 µs ± 60.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [89]:
pd.options.display.max_rows = 60